{% extends 'base.html.twig' %}

{% block title %}Les films{% endblock %}

{% block body %}

<h1>Les films</h1>

<ul>
    {% for movie in movies %}
    <li>{{ movie.title }}, sorti en {{ movie.releaseDate|date('Y') }}</li>

    {# Les Reviews contenus dans $movie->getReviews() #}
    <ul>
        {% for review in movie.reviews %}
            <li>{{ review.content }}</li>
        {% endfor %}
    </ul>

    {% endfor %}
</ul>

{% endblock %}
